<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86619027193-lcf1d093u6v3k25gkqk3rn6g4065llpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86619027193-lcf1d093u6v3k25gkqk3rn6g4065llpv</string>
	<key>API_KEY</key>
	<string>AIzaSyDO5AWkdnY7BnEix7pPLP2urpNGJEFNmvE</string>
	<key>GCM_SENDER_ID</key>
	<string>86619027193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chase.PIANOTES5-0</string>
	<key>PROJECT_ID</key>
	<string>pianotes5</string>
	<key>STORAGE_BUCKET</key>
	<string>pianotes5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86619027193:ios:39d6b66c5d4be8446f5428</string>
</dict>
</plist>